<div id="title">
    <h1>Schedules</h1>
</div>

<span id="schedulestatus">
    {{ errorMessage }}
</span>

<div id="schedulecontainer">
    <ol id="schedules">
        <li *ngFor="let schedule of schedules; let i=index">
            <div>
                <h2>Schedule: {{ schedule[0] }}</h2>
                <p>Created by: </p>
                <p>Number of Courses: {{ (schedule.length)-3 }}</p>
                <p>Modified On: {{ schedule[1] }} </p>
                <div *ngFor="let element of schedule;">
                    <p> {{ element.SubjectCode }} {{ element.CourseCode }}</p>
                </div>
            </div>
            <button (click)="viewCourseInfo(i)">Click to View More</button>
            <ng-container *ngIf="show === i">
                <div id="extrainfo" *ngFor="let element of courseinfo;">
                    <h2>{{ element[i].subject }} {{ element[i].catalog_nbr }}</h2>
                    <p>Class Name: {{ element[i].className }}</p>
                    <p>Section: {{ element[i].course_info[0].class_section }}</p>
                    <div id="{{ element[i].course_info[0].ssr_component }}">
                        <p>Type: {{ element[i].course_info[0].ssr_component }}</p>
                    </div>
                    <p>Class number: {{ element[i].course_info[0].class_nbr }}</p>
                    <p>Days: {{ element[i].course_info[0].days }}</p>
                    <p>Starts At: {{ element[i].course_info[0].start_time }}</p>
                    <p>Ends At: {{ element[i].course_info[0].end_time }}</p>
                    <p>Restriction: {{ element[i].course_info[0].descr }}</p>
                    <p>Status: {{ element[i].course_info[0].enrl_stat }}</p>
                    <p>Facility: {{ element[i].course_info[0].facility_ID }}</p>
                </div>
             </ng-container>
        </li>
    </ol>
    
</div>