<div class='login container'>
    <h1>Login</h1>
    <p for="loginemail">Enter Email:</p>
    <input type="text" maxlength="30" (change)="updateloginEmail($event.target.value)">
    <p for="loginemail">Enter password:</p>
    <input type="password" maxlength="30"(change)="updateloginPassword($event.target.value)">
    <div>
        <button (click)="loginAccount();">Login</button>
        <button (click)="reVerify();">Re-Verify</button>
        <span id='status'>
            {{ statusloginMessage }}
        </span>
    </div>
</div>

<div class='register container'>
    <h1>Register</h1>
    <p for="loginemail">Enter Email:</p>
    <input type="text" maxlength="30" (change)="updateregEmail($event.target.value)">
    <p for="loginusername">Enter username:</p>
    <input type="text" maxlength="20" (change)="updateregUsername($event.target.value)">
    <p for="loginemail">Enter password:</p>
    <input type="password" maxlength="30" (change)="updateregPassword($event.target.value)">
    <div>
        <button id="registerbutton" (click)="registerAccount()">Register</button>
        <a href= "{{ link }}" target="_blank"> Verify </a>
        <span id='status'>
            {{ statusMessage }}
        </span>
    </div>
</div>

<div class='change password'>
    <h1>Change Password</h1>
    <p for="loginemail">Enter New Password:</p>
    <input type="password" maxlength="30" (change)="updatechangePassword($event.target.value)">
    <div>
        <button id="updatebutton" (click)="updatePassword()">Update</button>
        <span id='status'>
            {{ changeMessage }}
        </span>
    </div>
</div>